.header {
  background: #09a9b5;
  z-index: 9999;
}

.headerContent {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  max-width: 1440px;
  margin-inline: auto;

  @media only screen and (max-width: 768px) {
    padding-block: 18px;
    align-items: center;
  }

  p {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;

    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }
  }

  img {
    cursor: pointer;

    @media only screen and (max-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }
}
