.container {
  display: flex;
  overflow: hidden;
}

.leftSide {
  zoom: 0.7;
  min-width: 1045px;
  overflow-y: auto;
  max-height: 145vh;
  @media screen and (min-width: 1441px) {
    zoom: 0.75;
    max-height: 135vh;
  }
}

.rightSide {
  min-width: 394px;
  background: #f8f2f2;
  overflow-y: auto;
  max-height: 110vh;
  z-index: 999;

  @media screen and (min-width: 1441px) {
    min-width: 494px;
  }

  .accordion {
    &-button {
    }

    &-content {
    }
  }
}
