.container {
  background: #fff;
  font-family: "Outfit";
}

.presentesRecebidos {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 187px;
  padding-top: 64px;
}

.textSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 422px;
  padding-bottom: 40px;
  p {
    color: #222;
    font-family: "Outfit";
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
  }

  span {
    color: #222;
    font-family: "Outfit";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.6;
  }
}

.secondSectionPresentesRecebidos {
  display: flex;
  justify-content: space-between;

  .firstPresentes {
    display: flex;
    align-items: center;
    gap: 16px;
    opacity: 0.6;

    span {
      color: #222;
      font-size: 20px;
      font-style: normal;
    }
  }
}

.containerPresentes {
  background: #f2f3f8;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  p {
    color: #222;
    font-family: "Outfit";
    font-size: 38.571px;
    font-style: normal;
    font-weight: 400;
  }
}

.containerLogo {
  padding: 6px;
  border-radius: 9px;
  background: #09a9b5;
}

.presentesRecebidosText {
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  padding-inline: 187px;
  margin-top: 111px;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 62px;
  p {
    color: #222;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
  }

  button {
    border: none;
    border-radius: 4.776px;
    background: #09a9b5;
    padding: 15.284px 53.493px;
    color: white;
    cursor: pointer;
  }
}
