.nightClubContent {
  font-family: "Montserrat";
  background: linear-gradient(
    to right,
    rgba(27, 19, 31, 0),
    rgba(27, 19, 31, 1),
    rgba(27, 19, 31, 1),
    rgba(27, 19, 31, 0)
  );
  @media only screen and (max-width: 768px) {
    padding-top: 65px;
  }
}

.banner {
  background-image: url("/banner-website-night-club.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  @media only screen and (max-width: 768px) {
    margin-bottom: -5px;
  }
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 23.4px;
  align-items: center;

  @media only screen and (max-width: 768px) {
    display: none;
  }

  li {
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    font-family: "Poppins";
    font-size: 16px;
    white-space: nowrap;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }

  button {
    text-transform: uppercase;
    padding-block: 16px;
    min-width: 232px;
    color: #1b131f;
    width: 100%;
    border-radius: 41px;
    border: 2px solid #ffd479;
    background: #ffd479;
    cursor: pointer;
  }
}

.headerWebsite {
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 194px;

  @media only screen and (max-width: 768px) {
    padding-left: 2px;
    padding-top: 10px;
    img {
      width: 91.245px;
      height: 62px;
    }
  }
}

.middleContent {
  padding-inline: 210px;
  padding-top: 180px;
  padding-bottom: 280px;
  margin-left: max(0px, (100% - 1440px)/2);

  @media only screen and (max-width: 768px) {
    padding-inline: 18px;
    padding-top: 101px;
    padding-bottom: 200px;
  }

  span {
    color: #ffd479;
    text-align: center;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;

    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }
  }

  h1 {
    color: #fff;
    font-family: "Montserrat";
    font-size: 68px;
    font-style: normal;
    max-width: 657px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 48px;
    margin-top: 30px;

    @media only screen and (max-width: 768px) {
      font-size: 32px;
    }
  }

  p {
    max-width: 657px;
    color: #fff;
    text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px;

    @media only screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  button {
    margin-top: 72px;
    width: 352px;
    padding: 24px;
    background: none;
    border-radius: 5px;
    border: 2px solid #ffd479;
    color: #ffd479;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;

    @media only screen and (max-width: 768px) {
      margin-top: 52px;
      padding: 18px;
      width: 100%;
    }
  }
}

.sobre {
  background: #17141c;
  position: relative;

  &::before {
    content: "";
    overflow: hidden;
    position: absolute;
    top: -140px;
    left: 0;
    right: 0;
    height: 150px;
    background: linear-gradient(
      to top,
      rgba(27, 19, 31, 0.899),
      rgba(64, 41, 76, 0)
    );
    z-index: 1;
  }
  &::after {
    content: "";
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    height: 230px;
    background: linear-gradient(to bottom, rgb(22 20 28), rgba(64, 41, 76, 0));
    z-index: 1;
  }
}

.hourCounterWrap {
  padding-inline: 194px;
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  display: flex;
  gap: 100px;

  @media only screen and (max-width: 768px) {
    padding-inline: 20px;
    flex-direction: column;
    gap: 45px;
    margin-bottom: -1px;
  }

  h2 {
    color: var(--white, #fff);
    font-family: "Montserrat";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;

    @media only screen and (max-width: 768px) {
      font-size: 18px;
      text-align: center;
      line-height: 25.139px;
      margin-top: 10px;
    }
  }
}

.rowDateBlock {
  display: flex;
  gap: 30px;
  padding-block: 140px;

  @media only screen and (max-width: 768px) {
    padding-block: 0px;
  }
}

.cardHour {
  display: flex;
  flex-direction: column;
  width: 120px;
  align-items: center;
  padding-inline: 26px;
  padding-block: 22px;
  border-radius: 3.802px;
  background: rgba(255, 255, 255, 0.1);

  @media only screen and (max-width: 768px) {
    width: 72.273px;
    padding: 15px;
    gap: 5px;
  }

  @media only screen and (max-width: 414px) {
    width: 65.273px;
  }

  span {
    color: #ffd479;
    font-family: "Montserrat";
    font-size: 40.826px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;

    @media only screen and (max-width: 768px) {
      font-size: 27.273px;
    }
  }

  p {
    color: #fff;
    font-family: "Montserrat";
    font-size: 16.331px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;

    @media only screen and (max-width: 768px) {
      font-size: 10px;
    }
  }
}

.bannerAlcool {
  background-image: url("/background-alcool.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.textContent {
  padding-inline: 194px;
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-block: 82px;
  z-index: 10 !important;

  @media only screen and (max-width: 768px) {
    padding-inline: 20px;
    padding-top: 0px;
    gap: 30px;
  }

  span {
    color: #ffd479;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 10;

    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }
  }

  h2 {
    color: var(--white, #fff);
    font-family: "Montserrat";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    width: 430px;
    line-height: 40px;
    text-transform: uppercase;

    @media only screen and (max-width: 768px) {
      font-size: 32px;
      line-height: 44.8px;
    }
  }

  p {
    max-width: 657px;
    color: #fff;
    text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px;
    z-index: 10;

    @media only screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  button {
    width: 352px;
    padding: 24px;
    background: #ffd479;
    border-radius: 5px;
    border: 2px solid #ffd479;
    color: #1b131f;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 10;

    @media only screen and (max-width: 768px) {
      padding: 18px;
      margin-top: 30px;
      width: 100%;
    }
  }
}

.local {
  position: relative;
  background: #1b131f;

  &::before {
    content: "";
    overflow: hidden;
    position: absolute;
    top: -374px;
    left: 0;
    right: 0;
    height: 528px;
    background: linear-gradient(to top, rgb(27 19 31), rgba(64, 41, 76, 0));
    z-index: 1;

    @media only screen and (max-width: 768px) {
      position: relative;
    }
  }
}

.localContent {
  padding-inline: 194px;
  max-width: 1440px;
  margin-inline: auto;
  padding-block: 82px;
  display: flex;
  flex-direction: column;
  gap: 64px;

  @media only screen and (max-width: 768px) {
    padding-inline: 20px;
    padding-top: 0px;
    gap: 25px;
  }

  span {
    color: #ffd479;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 10;

    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }
  }

  h2 {
    color: var(--white, #fff);
    font-family: "Montserrat";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
    width: 501px;

    @media only screen and (max-width: 768px) {
      font-size: 32px;
      width: 361px;
    }
  }

  iframe {
    width: 100%;

    @media only screen and (max-width: 768px) {
      height: 353px;
    }
  }

  .mapsFooter {
    display: flex;
    align-items: flex-start;
    gap: 50px;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  .mapsFooterBlock {
    display: flex;
    align-items: flex-start;
    gap: 25px;
  }

  .dataHora {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 310px;
    p {
      color: var(--white, #fff);
      font-family: "Montserrat";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @media only screen and (max-width: 768px) {
        font-size: 18px;
      }
    }

    span {
      color: #fff;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;

      @media only screen and (max-width: 768px) {
        font-size: 16px;
        opacity: 0.6;
        line-height: 25px;
      }
    }
  }
}

.mosaico {
  background: #1b131f;
  padding-top: 82px;
  padding-bottom: 182px;

  @media only screen and (max-width: 768px) {
    padding-top: 0px;
  }

  .mosaicoContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;

    @media only screen and (max-width: 768px) {
      align-items: flex-start;
      gap: 25px;
    }

    span {
      color: #ffd479;
      font-family: "Montserrat";
      font-size: 20px;
      font-style: normal;
      margin-inline: auto;
      font-weight: 600;
      text-transform: uppercase;
      z-index: 10;
      text-align: center;
      display: flex;

      @media only screen and (max-width: 768px) {
        font-size: 14px;
        text-align: left;
        padding-inline: 20px;
        margin-right: auto;
        margin-inline: 0px;
      }
    }

    h2 {
      color: var(--white, #fff);
      font-family: "Montserrat";
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
      text-transform: uppercase;
      width: 501px;
      margin-inline: auto;
      text-align: center;
      margin-bottom: 100px;
      @media only screen and (max-width: 768px) {
        width: 100%;
        font-size: 28px;
        text-align: left;
        padding-inline: 20px;
        margin-bottom: 58px;
      }
    }
  }
}

.row1 {
  display: flex;
  flex-wrap: nowrap;
}

.formSectionCasamento {
  background-image: url("/night-club-confirmation-background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  padding-block: 167px;
}

.formContainer {
  border-radius: 10px;
  opacity: 0.9;
  background: #f7f7f7;
  backdrop-filter: blur(20px);
  max-width: 790px;
  height: 919px;
  margin-inline: auto;

  @media only screen and (max-width: 768px) {
    padding-inline: 25px;
    height: 684px;
  }
}

.formDivisorBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-top: 109px;

  @media only screen and (max-width: 768px) {
    padding-top: 64px;
  }

  hr {
    border: none;
    width: 124px;
    height: 1px;
    background: #0e1418;
  }

  p {
    color: #0e1418;
    text-align: center;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;

    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.titleFormSection {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  max-width: 525px;
  margin-top: 48px;
  margin-bottom: 60px;

  @media only screen and (max-width: 768px) {
    margin-top: 25px;
    margin-bottom: 43px;
  }

  h2 {
    color: #0e1418;
    font-family: "Montserrat";
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;

    @media only screen and (max-width: 768px) {
      font-size: 28px;
    }
  }
}

.form {
  color: #27323f;
  max-width: 636px;
  margin-inline: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .formInputBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    select,
    input {
      background: #fff;
      border: none;
      padding: 16px 0px;
      padding-left: 10px;
      font-size: 18px;
      color: #637381;

      @media only screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }

  .acompanhantesInputBlock {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      gap: 10px;
    }

    .decrement {
      display: flex;
      align-items: center;
      gap: 16px;

      button {
        cursor: pointer;
        color: #1b131f;
        width: 32px;
        height: 32px;
        font-size: 25px;
        border-radius: 4px;
        background: rgba(255, 212, 121, 0.8);
        border: none;
      }

      input {
        display: flex;
        width: 60px;
        justify-content: center;
        padding-left: 10px !important;
        text-align: center;
        border: none;
        background: #fff;
        padding: 10px 0px;
        color: #637381;
        font-size: 18px;

        @media only screen and (max-width: 768px) {
          padding-left: 0px !important;
        }
      }
    }
  }
}

.submitButton {
  border-radius: 88px;
  background: #ffd479;
  border: none;
  padding-block: 18px;
  text-transform: uppercase;
  font-family: "Poppins";
  color: #1b131f;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-top: 70px;
  cursor: pointer;

  @media only screen and (max-width: 768px) {
    margin-top: 64px;
  }
}

.giftsSection {
  background: #1b131f;
  padding-block: 140px;
}

.divisorGiftsSection {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;

  p {
    color: #ffd479;
    text-align: center;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;

    @media only screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 54.038px;
    }
  }
}

.titleGiftsSection {
  max-width: 806px;
  margin-inline: auto;
  margin-top: 57px;
  margin-bottom: 125px;

  h2 {
    color: var(--white, #fff);
    font-family: "Montserrat";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
    width: 501px;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 100px;
  }
}

.gifts {
  color: #0e1418;
  max-width: 1440px;
  margin-inline: auto;
}

.giftsListContainer {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 187px;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: space-between;

  @media only screen and (max-width: 768px) {
    padding-inline: 20px;
  }
}

.card {
  border-radius: 4px;
  background: rgba(247, 247, 247, 0.1);
  padding-top: 22px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 33px;

  img {
    width: 201.255px;
    height: 192.87px;
    object-fit: cover;
  }

  p {
    text-transform: uppercase;
    color: #fff;
    font-size: 13.976px;
    font-style: normal;
    font-weight: 400;
  }

  span {
    color: #fff;
    font-size: 16.771px;
    font-style: normal;
    font-weight: 600;
  }

  button {
    border-radius: 5px;
    background: #ffd479;
    border: none;
    text-transform: uppercase;
    color: #1b131f;
    padding-block: 13px;
    cursor: pointer;
  }
}

.pagination {
  color: #ffd479;
  display: flex;
  margin-inline: auto;
  width: 100%;
  justify-content: center;
  margin-top: 52px;
  margin-bottom: 100px;
  gap: 35px;
  cursor: pointer;
  align-items: center;
  font-family: "Poppins";

  svg {
    fill: #ffd479 !important;
  }
}

.active {
  color: #1b131f;
  padding: 12px;
}

.footerEvento {
  padding-bottom: 100px;
  padding-inline: 194px;
  background: #1b131f;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.divisorFooter {
  max-width: 1440px;
  margin-inline: auto;

  hr {
    fill: #000040;
    stroke-width: 1.333px;
    stroke: #000040;
    opacity: 0.2;
  }
}

.footerBlock {
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftSideFooter {
  display: flex;
  flex-direction: column;

  p {
    color: #fff;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
  }
}

.middleSideFooter {
  margin-right: -8%;
}

.rightSideFooter {
  display: flex;
  align-items: center;
  gap: 20px;

  a {
    color: #fff;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
  }
}

.formSectionEvento {
  background-image: url("/night-club-confirmation-background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  padding-block: 200px;

  @media only screen and (max-width: 768px) {
    padding-inline: 20px;
  }
}

.photo1 {
  width: 220px;
  object-fit: cover;
  height: 320px;
}
.photo2 {
  width: 480px;
  object-fit: cover;
  height: 320px;
}
.photo3 {
  width: 220px;
  object-fit: cover;
  height: 320px;
}
.photo4 {
  width: 480px;
  object-fit: cover;
  height: 320px;
}
.photo5 {
  width: 220px;
  object-fit: cover;
}
.photo6 {
  width: 480px;
  object-fit: cover;
  height: 320px;
}
.photo7 {
  width: 480px;
  object-fit: cover;
  height: 320px;
}
.photo8 {
  width: 220px;
  object-fit: cover;
  height: 320px;
}
.photo9 {
  width: 480px;
  object-fit: cover;
  height: 320px;
}
.photo10 {
  width: 220px;
  object-fit: cover;
  height: 320px;
}
.photo11 {
  width: 480px;
  object-fit: cover;
  height: 320px;
}
.photo12 {
  width: 220px;
  object-fit: cover;
  height: 320px;
}

.bannerAlcoolMobile {
  background: #1a121e;
  img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: right;
  }

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.mosaicoGrid {
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.mosaicoGridMobile {
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  .row2Mobile,
  .row1Mobile {
    display: flex;
    gap: 11px;
  }
  .photo1Mobile {
    width: 106px;
    object-fit: cover;
    height: 154px;
  }
  .photo2Mobile {
    width: 100%;
    object-fit: cover;
    height: 154px;
  }
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.footerEventoMobile {
  background: #17141c;
  padding-bottom: 65px;

  .footerBlockMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 31px;
  }

  .rightSideFooterMobile {
    text-align: right;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    font-size: 14px;
    opacity: 0.6;
  }

  img {
    width: 98.604px;
    height: 67px;
    object-fit: cover;
  }

  @media only screen and (min-width: 768px) {
    display: none;
  }
}
