.headerblock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.header {
  background: #09a9b5;
  text-transform: uppercase;
  font-weight: 400;
  z-index: 9999;

  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 187px;

    @media only screen and (max-width: 768px) {
      padding-inline: 18px;
      padding-block: 5px;
      .logo {
        width: 79px;
        object-fit: cover;
      }
    }
  }

  .leftSide {
    display: flex;
    align-items: center;
    gap: 64px;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  .rightSide {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .logout {
    border: 1px solid white;
    text-align: center;
    padding-block: 14px;
    background: none;
    padding-inline: 8px;
    min-width: 100px;
    color: white;
    border-radius: 4.776px;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  a {
    font-weight: 400;
    cursor: pointer;
  }

  button {
    border-radius: 4.776px;
    background: #fff;
    color: #09a9b5;
    border: none;
    cursor: pointer;
    padding-block: 15px;
    padding-inline: 38px;
    font-size: 13.373px;
    text-transform: uppercase;

    @media only screen and (max-width: 768px) {
      background: none;
      color: #fff;
      font-size: 14px;
      margin-left: -20px;
    }
  }
}
.stylewebsiteSection {
  background: #ebedf4;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-block: 26px;
  cursor: pointer;

  @media only screen and (max-width: 768px) {
    padding-block: 16px;

    img {
      width: 24px;
      height: 24px;
      object-fit: cover;
    }
  }

  a {
    color: #09a9b5;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;

    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.menulink {
  opacity: 0.6;
}

.active {
  opacity: 1;
}

.hamburguer {
  img {
    width: 38px;
    height: 38px;
    object-fit: cover;
  }
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.logoBlock {
  display: block;
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #09a9b5;
  overflow-x: hidden;
  transition: 0.3s;
  z-index: 10;

  &.open {
    width: 100%;
  }

  .contentDrawer {
    padding: 18px;
  }

  .topContentDrawer {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 60px;

    .logo {
      width: 79px;
      object-fit: cover;
      margin-top: -13px;
    }

    .close {
      margin-top: 4px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow-x: hidden;
  transition: width 0.2s;

  &.visible {
    width: 100%;
  }
}

.middleContentDrawer {
  padding-inline: 13px;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 56px;
    font-size: 16px;
    text-transform: uppercase;
    flex-wrap: nowrap;
  }

  button {
    margin-top: 160px;
    text-transform: uppercase;
    background: #fff;
    color: #09a9b5;
    padding-inline: 38px;
    padding-block: 8px;
    border: none;
    border-radius: 4px;
  }
}
