.giftsList {
  background: #fff;
  padding-top: 50px;

  .titleGifts {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 187px;
    margin-bottom: 62px;
    justify-content: space-between;
  }

  .title {
    color: #222;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    font-family: "Outfit";
  }

  button {
    border-radius: 4.776px;
    background: #09a9b5;
    padding-inline: 53px;
    padding-block: 15px;
    border: none;
    font-family: "Outfit";
    font-size: 13.373px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.giftsListContainer {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 187px;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: center;

  @media only screen and (max-width: 768px) {
    padding-inline: 20px;
    gap: 16px;
  }
}

.card {
  border-radius: 2.795px;
  background: #f2f3f8;
  padding-top: 22px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: 245.979px;
  gap: 33px;

  @media only screen and (max-width: 768px) {
    width: 168px;
    height: 275px;
    gap: 15px;
    padding-inline: 18px;
  }

  @media only screen and (max-width: 414px) {
    width: 158px;
  }

  img {
    width: 201.255px;
    height: 192.87px;
    object-fit: cover;

    @media only screen and (max-width: 768px) {
      width: 131.87px;
      min-height: 126.375px;
      object-fit: cover;
    }
  }

  p {
    text-transform: uppercase;
    color: #0e1418;
    font-size: 13.976px;
    font-style: normal;
    font-weight: 400;

    @media only screen and (max-width: 768px) {
      width: 131.87px;
      height: 126.375px;
      font-size: 14px;
    }
  }

  span {
    color: #0e1418;
    font-size: 16.771px;
    font-style: normal;
    font-weight: 600;

    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }
  }

  button {
    border-radius: 5px;
    background: #09a9b5;
    border: none;
    font-size: 11.181px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    padding-block: 13px;
    cursor: pointer;
    color: #fff;

    @media only screen and (max-width: 768px) {
      padding-block: 5px;
      text-align: left;
      display: flex;
      justify-content: center;
      border-radius: 40.293px;
    }
  }
}

.pagination {
  color: #09a9b5;
  display: flex;
  margin-inline: auto;
  width: 100%;
  justify-content: center;
  margin-top: 52px;
  margin-bottom: 100px;
  gap: 35px;
  cursor: pointer;
  align-items: center;
  font-family: "Poppins";
}

.active {
  color: #fff;
  background: #09a9b5;
  padding: 12px;
}
