.container {
  background: #fff;
  height: 100vh;
  position: relative;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 1040px;
    background: #0ed7e6;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    z-index: 1;
  }

  .containerContent {
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 198px;
    display: flex;
    align-items: center;
    margin-top: 13%;
    gap: 40px;
  }

  h1 {
    color: #404049;
    font-family: "Outfit";
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
  }

  img {
    margin-bottom: -40%;
    z-index: 99999;
  }
}

.leftSide {
  display: flex;
  flex-direction: column;
  gap: 71px;

  button {
    border-radius: 6px;
    background: #09a9b5;
    color: #fff;
    font-family: "Outfit";
    font-size: 22.016px;
    font-style: normal;
    border: none;
    padding-inline: 44px;
    padding-block: 15px;
    max-width: 264px;
    cursor: pointer;
  }
}

.rightSide {
  z-index: 9999;
}
