.divisorGiftsSection {
  display: flex;
  margin-top: 171px;
  align-items: center;
  gap: 24px;
  justify-content: center;

  hr {
    border: none;
    width: 124px;
    height: 1px;
    background: #cc7028;
  }

  p {
    color: #cc7028;
    text-align: center;
    font-family: "Noto Serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.titleGiftsSection {
  max-width: 806px;
  margin-inline: auto;
  margin-top: 57px;
  margin-bottom: 125px;

  h2 {
    color: #0e1418;
    text-align: center;
    font-family: "Noto Serif";
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.gifts {
  color: #0e1418;
  max-width: 1440px;
  margin-inline: auto;
}

.giftsListContainer {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 187px;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: space-between;

  @media only screen and (max-width: 768px) {
    padding-inline: 20px;
  }
}

.card {
  border-radius: 4px;
  background: #f7f7f7;
  padding-top: 22px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 33px;

  img {
    width: 201.255px;
    height: 192.87px;
    object-fit: cover;
  }

  p {
    text-transform: uppercase;
    color: #0e1418;
    font-size: 13.976px;
    font-style: normal;
    font-weight: 400;
  }

  span {
    color: #0e1418;
    font-size: 16.771px;
    font-style: normal;
    font-weight: 600;
  }

  button {
    border-radius: 88px;
    background: #cc7028;
    border: none;
    text-transform: uppercase;
    padding-block: 13px;
    cursor: pointer;
  }
}

.pagination {
  color: #cc7028;
  display: flex;
  margin-inline: auto;
  width: 100%;
  justify-content: center;
  margin-top: 52px;
  margin-bottom: 100px;
  gap: 35px;
  cursor: pointer;
  align-items: center;
  font-family: "Poppins";

  svg {
    fill: #cc7028 !important;
  }
}

.active {
  background: rgba(204, 112, 40, 0.2);
  padding: 12px;
}
